.movieItemContainer {
  width: 100%;
  overflow: hidden;
}

.movieLink {
  display: block;
  width: 100%;
  height: 100%;
}

.movieImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.movieLink:hover .movieImage {
  transform: scale(1.05);
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-weight: bold;
}
